<div class="container">
    <div class="row text-center">

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/stomach.png" alt="digestives">
                <div class="card-body">
                    <h5 class="card-title">Manifestions digestives</h5>
                    <p class="card-text">Troubles du transit, douleurs abdominales, reflux gastro-oesophagien, appetit,
                        digestion, , etc…</p>
                    <a routerLink="digestive" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/heart.png" alt="cardio-vasculaire">
                <div class="card-body">
                    <h5 class="card-title">Manifestations cardio-vasculaire</h5>
                    <p class="card-text">Hypotension, tachycardie, malaise, syndrome de Raynaud, phlébites, etc…</p>
                    <a routerLink="cardio-vasculaire" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/respi.png" alt="respiratoires">
                <div class="card-body">
                    <h5 class="card-title">Manifestations respiratoires</h5>
                    <p class="card-text">Essoufflements spontanés ou à l’effort, bronchite, blocage respiratoire,
                        etc…</p>
                    <a routerLink="respiratoire" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/stomach.png" alt="orl">
                <div class="card-body">
                    <h5 class="card-title">Manifestation ORL</h5>
                    <p class="card-text">Hypo et/ou hyperacousie, acouphènes, vertiges, hyperosmie (odorat trop
                        développé), etc…</p>
                    <a routerLink="orl" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/dent.png" alt="bucco-dentaire">
                <div class="card-body">
                    <h5 class="card-title">Manifestation bucco-dentaires</h5>
                    <p class="card-text">Douleur mâchoire, saignements gingivaux, altérations dentaires, sensibilité
                        dentaire, etc…</p>
                    <a routerLink="bucco-dentaire" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/urinaire.png" alt="urinaires">
                <div class="card-body">
                    <h5 class="card-title">Manifestations urinaires</h5>
                    <p class="card-text">Infections urinaires, rétention urinaires, incontinence, diminution du besoin
                        d’uriner, etc…</p>
                    <a routerLink="urinaire" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/gyneco.png" alt="gynécologique">
                <div class="card-body">
                    <h5 class="card-title">Manifestations gynécologiques</h5>
                    <p class="card-text">Dyspareunie, mettroragie, règles hémorragiques, douleur pelviennes, etc…</p>
                    <a routerLink="gynecologique" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/cutanee.png" alt="cutanées">
                <div class="card-body">
                    <h5 class="card-title">Manifestations cutanées</h5>
                    <p class="card-text">Ecchymoses , flush, plaie, éruption cutanée, eczéma, pétéchis, etc…</p>
                    <a routerLink="cutanee" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/eye.png" alt="ophtalmo">
                <div class="card-body">
                    <h5 class="card-title">Manifestations ophtalmologiques</h5>
                    <p class="card-text">Fatigue visuelle, myopie, strabisme, diplopie, douleurs oculaires, larmoiement,
                        etc… </p>
                    <a routerLink="ophtalmo" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/muscle.png" alt="musculaires">
                <div class="card-body">
                    <h5 class="card-title">Manifestations musculaires</h5>
                    <p class="card-text">Dystonie, crampes, fasciculations, contractures, myalgies (douleur musculaire),
                        perte de force musculaire, etc…</p>
                    <a routerLink="musculaire" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/articulation.png"
                     alt="ostéo-articulaires">
                <div class="card-body">
                    <h5 class="card-title">Manifestations ostéo-articulaires</h5>
                    <p class="card-text">Tendinites, subluxation, luxation, blocage articulaire, entorses, craquement
                        articulaire, etc…</p>
                    <a routerLink="articulation" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/neuro.png" alt="neurologiques">
                <div class="card-body">
                    <h5 class="card-title">Manifestations neurologiques</h5>
                    <p class="card-text">Douleurs neuropathiques, anesthésie, paralysie, picotements, fourmillements,
                        dystonie, etc…</p>
                    <a routerLink="neurologique" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/cognitive.png" alt="cognitives">
                <div class="card-body">
                    <h5 class="card-title">Manifestations cognitives</h5>
                    <p class="card-text">Perte de mémoire, difficultés de concentration, brouillard mental,
                        ralentissement de la pensée</p>
                    <a routerLink="cognitive" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/psycho.png" alt="psychologiques">
                <div class="card-body">
                    <h5 class="card-title">Manifestations psychologiques</h5>
                    <p class="card-text">Anxiété, tristesse, irritabilité, épuisement psychique, détresse psychologique,
                        etc...</p>
                    <a routerLink="psychologique" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/bedtime.png" alt="sommeil">
                <div class="card-body">
                    <h5 class="card-title">Sommeil et fatigue</h5>
                    <p class="card-text">Insomnie, asthénie, réveils fréquents, hypersomnie, syndrome des jambes sans
                        repos, etc…</p>
                    <a routerLink="sommeil" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

    </div>
</div>
