<div class="container">
    <div class="row text-center">

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/stomach.png" alt="digestives">
                <div class="card-body">
                    <h5 class="card-title">Manifestions digestives</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="digestive" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/heart.png" alt="cardio-vasculaire">
                <div class="card-body">
                    <h5 class="card-title">Manifestations cardio-vasculaire</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="cardio-vasculaire" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/respi.png" alt="respiratoires">
                <div class="card-body">
                    <h5 class="card-title">Manifestations respiratoires</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="respiratoire" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/stomach.png" alt="orl">
                <div class="card-body">
                    <h5 class="card-title">Manifestation ORL</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="orl" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/dent.png" alt="bucco-dentaire">
                <div class="card-body">
                    <h5 class="card-title">Manifestation bucco-dentaires</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="bucco-dentaire" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/urinaire.png" alt="urinaires">
                <div class="card-body">
                    <h5 class="card-title">Manifestations urinaires</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="urinaire" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/gyneco.png" alt="gynécologique">
                <div class="card-body">
                    <h5 class="card-title">Manifestations gynécologiques</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="gynecologique" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/cutanee.png" alt="cutanées">
                <div class="card-body">
                    <h5 class="card-title">Manifestations cutanées</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="cutanee" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/eye.png" alt="ophtalmo">
                <div class="card-body">
                    <h5 class="card-title">Manifestations ophtalmologique</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="ophtalmo" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/muscle.png" alt="musculaires">
                <div class="card-body">
                    <h5 class="card-title">Manifestations musculaires</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="musculaire" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/articulation.png"
                     alt="ostéo-articulaires">
                <div class="card-body">
                    <h5 class="card-title">Manifestations ostéo-articulaires</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="articulation" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/neuro.png" alt="neurologiques">
                <div class="card-body">
                    <h5 class="card-title">Manifestations neurologiques</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="neurologique" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/cognitive.png" alt="cognitives">
                <div class="card-body">
                    <h5 class="card-title">Manifestations cognitives</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="cognitive" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/psycho.png" alt="psychologiques">
                <div class="card-body">
                    <h5 class="card-title">Manifestations psychologiques</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="psychologique" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

        <div class="col-xl-4 col-md-6 col-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../content/images/symptomes/bedtime.png" alt="sommeil">
                <div class="card-body">
                    <h5 class="card-title">Sommeil et fatigue</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="sommeil" class="btn btn-primary">Aller</a>
                </div>
            </div>
            <br/>
        </div>

    </div>
</div>
