<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Bienvenue à tous sur APPLISED !</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div *ngSwitchCase="false">
                <span>Vous n'êtes pas connecté, si vous être membre cliquez ici pour vous </span>
                <a class="alert-link" (click)="login()">connecter</a>
            </div>
            <div *ngSwitchCase="false">
                <span>Voulez-vous créer un compte ?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <br/>
        <hr>
        <br/>

        <div>
            <p>Cette application vous permettra, en tant que patients ayant le SED (Syndrome d’Ehlers Danlos) de type
                hyper mobile (le plus fréquent), de vous faciliter le suivi de la majorité de vos symptômes.
                En effet, le collagène présent dans les tissus conjonctifs étant déficient, et ces derniers étant
                présents dans 80% du corps humain, la liste des symptômes est si vaste qu’il est parfois difficile de
                les suivre de façon individuelle et d’en informer les différents professionnels de santé et médecins
                spécialistes qui nous suivent.
            </p>
            <p>
                Cela vous permettra au mieux de voir l’efficacité de certaines thérapeutiques mises en place, de
                comprendre ce qui joue positivement ou négativement sur votre état général, et d’avoir ainsi davantage
                de clés pour apprivoiser votre Syndrome d’Ehlers Danlos.
            </p>
            <p>
                Vous trouverez également d’autres fonctionnalités comme le récapitulatif de vos antécédents médicaux, le
                lien direct avec votre dossier médical partagé, les informations utiles en cas d’urgence, où encore une
                fonction rappel pour vos RDV ou encore vos traitements.
            </p>
            <p>
                Enfin, vous aurez la possibilité de rester informés des dernières avancées concernant le SED. Les
                informations concernant les symptômes, les critères diagnostics seront quant à eux également
                accessibles, ainsi que des articles divers pour mieux appréhender la maladie. Le SED n’a pas de
                traitement curatif, mais de nombreuses aides existent pour alléger le quotidien.
            </p>
        </div>
    </div>
</div>
